@charset "UTF-8";
@import url("https://fonts.cdnfonts.com/css/pokemon-solid");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", cursive;
  background-color: #fce77c;
  background-image: url("../src/img/pokeball_2.png");
  background-size: 150px;
  margin: 0;
  padding: 0;
}

header .menu {
  background-color: #cc0000;
  color: #000;
}
header .menu h1 {
  color: #ffde00;
  -webkit-text-stroke: 1px #3b4cca;
  font-size: 40px;
  margin-right: 50px;
  font-family: "Pokemon Solid", sans-serif;
}
header .pokespin {
  max-width: 145px;
  margin-top: 20px;
  margin-left: 20px;
  animation: pokespin 2s infinite linear;
}
@keyframes pokespin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header .busca {
  display: flex;
}
header .busca form {
  display: flex;
  margin-top: 65px;
  padding: 4px;
}
header .busca form > input {
  font-family: "Pokemon Solid", sans-serif;
  height: 40px;
  font-size: 20px;
}
header .busca form > button {
  background: royalblue;
  border: none;
  color: #fff;
  padding: 4px 10px;
  max-width: 45px;
  max-height: 40px;
}
header .links {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}
header .links li {
  margin-left: 15px;
  text-decoration: none;
}
header .links ul,
header .links a {
  text-decoration: none;
  color: #edf6e9;
}
header .submenu {
  font-family: "Pokemon Solid", sans-serif;
  font-size: 15px;
  background-color: #000;
  color: #fff;
  padding: 15px 0;
}

.submenu li {
  margin-left: 5px;
  margin-right: 5px;
}

.submenu nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 0 10px;
  text-transform: uppercase;
  transition: all ease 0.2s;
}

.submenu ul, li {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.submenu nav ul li {
  border-right: solid 1px #efefef;
}

header .submenu nav ul li:last-child:last-child {
  border-right: none;
}

main {
  background-color: #edf6e9;
  justify-content: center;
  font-size: 15px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 15px;
  align-content: center;
}
main div {
  display: grid;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 20px;
  margin: 5px;
  height: 400px;
  padding: 10px;
  text-align: center;
}
main .oldValue {
  font-size: 10px;
  text-decoration: line-through;
  opacity: 0.5;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
}

/*Lateral*/
.sidenav {
  background-color: #DFE5F2;
  padding: 15px;
  width: 400px;
}

aside {
  padding-left: 30px;
  width: 25%;
}

aside .poke-ad {
  display: block;
  height: 250px;
  background-image: url("../src/img/mewtwo.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

aside .poke-ad::before {
  content: " ";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
}

aside .poke-ad > div {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFF;
  text-align: center;
  padding: 10px;
  width: 100%;
}

aside .poke-ad .poke-ads-title {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

aside .poke-ad .poke-ads-description {
  font-size: 12px;
}

.topPokemon h3 {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: solid 1px #DDD;
  padding: 10px 0;
  margin: 0;
}

.pokeTop {
  max-width: 50px;
}

.topPokemon ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.topPokemon li {
  counter-increment: li;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: solid 1px #EEE;
  transition: all ease 0.3s;
  cursor: pointer;
}

.topPokemon li:hover {
  background: #EEE;
}

.topPokemon li::before {
  content: counter(li) "º";
  font-size: 36px;
  font-weight: bold;
  line-height: 0;
}

.novidades {
  border: 2px groove #000;
  border-radius: 5px;
  margin-top: 30px;
  padding: 30px 10px;
  margin-left: 20px;
  background-color: #FCF3E4;
}

.novidades h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  text-align: center;
}

.novidades input {
  padding: 10px;
  border: 0;
  width: 90%;
}

.novidades button {
  border: 0;
  padding: 10px;
  width: 100%;
  background: #000;
  color: #FFF;
  margin-top: 15px;
}

/*Rodapé*/
footer {
  background-color: #000000;
  font-family: "Pokemon Solid", sans-serif;
}
footer nav a {
  text-decoration: none;
  color: #FFF;
}
footer .topPokemon {
  color: #dfe5f2;
}
footer .topPokemon li:hover {
  color: #000;
  background-color: #dfe5f2;
}

.social-links {
  display: flex;
}
.social-links a {
  text-decoration: none;
  color: #FFF;
}
.social-links ul {
  color: #FFF;
  text-decoration: none;
}
.social-links li {
  text-decoration: none;
  margin-left: 15px;
  color: #FFF;
}

/*# sourceMappingURL=style.css.map */
