@font-face {
    font-family: 'Pokefont';
    src: url('../src/fonts/Pokemon_Solid.ttf');
  }
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


$pokeFont: 'Pokefont', sans-serif;
$principalFont: "Press Start 2P", cursive
