@import url('http://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    font-family: 'Press Start 2P', cursive;
    background-image: url("src/img/pokeball_2.png");
    background-color: #FCE77C;
}

.menu {
    display: flex;
    align-items: flex-start;
    background-color: #CC0000;
    color: black;
    width: auto;
    height: 100px;
    padding: 5px;
}

.menu h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: 'Pokemon Solid', sans-serif;
}

.menu input {
    font-family: 'Pokemon Solid', sans-serif;
    margin-top: 35px;
    margin-left: 10px;
    height: 23px;
    border-radius: 5px;
    font-size: 20px;
    height: 40px;
}

.menu button {
    margin-top: 35px;
    font-size: 30px;
    border-radius: 50px;
}

.submenu {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

main {
    background-color: #EDF6E9;
}

.content {
    justify-content: center;
    font-size: 15px;
    display: grid;
    width: 1000px;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 15px;
    align-content: center;
    margin: 0;
}

.content div {
    display: grid;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 20px;
    margin: 5px;
    height: 350px;
    padding: 10px;
    text-align: center;
}



.content button {
    font-family: 'Press Start 2P', cursive;
    border-radius: 50px;
    border-color: #7AC89E;
    background-color: #7AC89E;
    font-size: 20px;
}

.grid {
    width: auto;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 30px auto 40px;
    grid-template-areas: "header header header" "content content sidenav" "footer footer footer";
}

header {
    grid-area: header;
}

aside {
    grid-area: sidenav;
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;
}