@import url('http://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    font-family: 'Press Start 2P', cursive;
    background-color: #FCE77C;
    background-image: url("src/img/pokeball_2.png");
    background-size: 150px;
    margin: 0;
    padding: 0;
}



.menu {
    display: flex;
    align-items: flex-start;
    background-color: #CC0000;
    color: black;
    width: auto;
    height: 150px;
    padding: 5px;
}

.pokespin {
  max-width: 100px;
  margin-top: 20px;
  margin-left: 20px;
  animation: pokespin 2s infinite linear
}

@keyframes pokespin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.menu h1 {
    color: #FFDE00;
    -webkit-text-stroke: 1px #3B4CCA;
    font-size: 40px;
    margin-left: 35px;
    font-family: 'Pokemon Solid', sans-serif;
}

.busca form{
    display: flex;
    margin-top: 65px;
    padding: 4px;
    margin-left: 50px;
}

 .busca form>input {
    font-family: 'Pokemon Solid', sans-serif;
    height: 40px;
    font-size: 20px;
}

.busca form>button {
    background: royalblue;
    border: none;
    color: #fff;
    padding: 4px 10px
}

.submenu {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 15px;
    background-color: black;
    color: white;
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
    margin-left: 5px;
}

main {
    margin-left: 50px;
    background-color: #EDF6E9;
}

.content {
    justify-content: center;
    font-size: 15px;
    display: grid;
    /* margin-top: 183px; */
    grid-template-columns: 25% 25% 25% 25%;
    padding: 15px;
    align-content: center;
}

.content div {
    display: grid;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 20px;
    margin: 5px;
    height: 400px;
    padding: 10px;
    text-align: center;
}

.oldValue {
    font-size: 10px;
    text-decoration: line-through;
    opacity: 0.5;
}

.content button {
    font-family: 'Press Start 2P', cursive;
    border-radius: 50px;
    border-color: #7AC89E;
    background-color: #7AC89E;
    font-size: 18px;
}

.grid {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    /*grid-template-rows: 30px auto 40px;*/
    grid-template-areas: 'header header header' 'content content sidenav' 'footer footer footer';
}

.sidenav {
    background-color: #DFE5F2;
    margin-left: 40px;
    /* margin-top: 183px; */
    padding: 15px;
    width: 400px;
}

footer {
    background-color: #000000;
    height: 300px;
}

header {
    grid-area: header;
}

aside {
    grid-area: sidenav;
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;
}